<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dice roll results</title>
</head>
<body>
<h1>YO, your result were: <span th:text="${guess}"></span></h1>
<h1>the random number was: <span th:text="${random}"></span></h1>

<h2 th:text="${message}"></H2>

<a href="/roll-dice">try again</a>
</body>
</html>