<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>game of dice</title>
<body>

<table style=“width:100%“>
    <th>
        <th>Choose a random number: </th>
    </th>
    <tr>
        <tr><td><a href="/roll-dice/1">1</a></td></tr>
        <tr><td><a href="/roll-dice/2}">2</a></td></tr>
        <tr><td><a href="/roll-dice/3">3</a></td></tr>
        <tr><td><a href="/roll-dice/4">4</a></td><tr>
        <tr><td><a href="/roll-dice/5">5</a></td></tr>
        <tr><td><a href="/roll-dice/6">6</a></td></tr>
    </tr>
</table>


</body>
</html>